<h2>Sobre o Projeto</h2>
<p>
    Este projeto é fruto do Hackaton beneficiente realizado pela Indra em parceria com o GRAACC, e visa buscar penalizações judiciais com o intuíto de auxiliar esta instituição na captação de renda.
    Estes tipos de ação geralmente são cometidos por empresas que violam alguma lei, a principal base utilizada no projeto foca especificamente em instituições que tenham cometido crimes de corrupção.
    Quando ocorre este tipo de infração geralmente são cobradas multas dos infratores e, nesses casos, instituições beneficientes como o GRAACC tem direito de pleitear uma porcentagem deste valor para manutenção de suas atividades.
</p>
<p>
    O GRAACC é uma insituição que combate o câncer infantil. Nascida do objetivo de aumentar a chance de sobrevivência no país, o GRAACC conseguiu chegar do limiar dos 30% de pacientes curados, média nacional, para os 70/80%, valor alcançado apenas pelas melhores insituições de países desenvolvidos como Estados Unidos e a União Europeia.
</p>
<p>
        O GRAACC também aceita doações de voluntários, faça parte da mudança você também !
</p>
<div class="center">
    <a href="https://graacc.org.br/quemsomos/" target="_blank">Saiba Mais</a>
    <a href="https://graacc.org.br/doar/" target="_blank">Doe</a>
</div>
